In [1]:
import pandas as pd

In [3]:
#Agencies 1960-1999
ds1 = pd.read_csv("../Data/ds1.csv")

In [4]:
ds1.head()

,data_year,ori,legacy_ori,covered_by_legacy_ori,direct_contributor_flag,dormant_flag,dormant_year,reporting_type,ucr_agency_name,ncic_agency_name,...,nibrs_off_eth_start_date,covered_flag,county_name,msa_name,publishable_flag,participated,nibrs_participated,asr_participated,hc_participated,supp_participated
0,1960,AK0010100,AK0010100,NaN,N,N,NaN,S,ANCHORAGE,ANCHORAGE PD,...,NaN,N,ANCHORAGE,Non-MSA,Y,Y,N,N,N,Y
1,1960,AK0010200,AK0010200,NaN,N,N,NaN,S,FAIRBANKS,FAIRBANKS PD,...,NaN,N,FAIRBANKS NORTH STAR,Non-MSA,Y,Y,N,N,N,N
2,1960,AK0010300,AK0010300,NaN,N,N,NaN,S,JUNEAU,JUNEAU PD,...,NaN,N,JUNEAU,Non-MSA,Y,Y,N,N,N,N
3,1960,AK0010400,AK0010400,NaN,N,N,NaN,S,KETCHIKAN,KETCHIKAN PD,...,NaN,N,KETCHIKAN GATEWAY,Non-MSA,Y,Y,N,N,N,N
4,1960,AK0010500,AK0010500,NaN,N,N,NaN,S,KODIAK,KODIAK PD,...,NaN,N,KODIAK ISLAND,Non-MSA,Y,Y,N,N,N,N

In [7]:
#Agencies 2000-2020
ds2 = pd.read_csv("../Data/ds2.csv")

In [6]:
ds2.head()

,data_year,ori,legacy_ori,covered_by_legacy_ori,direct_contributor_flag,dormant_flag,dormant_year,reporting_type,ucr_agency_name,ncic_agency_name,...,nibrs_off_eth_start_date,covered_flag,county_name,msa_name,publishable_flag,participated,nibrs_participated,asr_participated,hc_participated,supp_participated
0,2000,AK0010100,AK0010100,NaN,N,N,NaN,S,ANCHORAGE,ANCHORAGE PD,...,NaN,N,ANCHORAGE,"Ames, IA",Y,Y,N,Y,Y,Y
1,2000,AK0010200,AK0010200,NaN,N,N,NaN,S,FAIRBANKS,FAIRBANKS PD,...,NaN,N,FAIRBANKS NORTH STAR,Non-MSA,Y,Y,N,Y,N,Y
2,2000,AK0010300,AK0010300,NaN,N,N,NaN,S,JUNEAU,JUNEAU PD,...,NaN,N,JUNEAU,Non-MSA,Y,N,N,N,N,N
3,2000,AK0010400,AK0010400,NaN,N,N,NaN,S,KETCHIKAN,KETCHIKAN PD,...,NaN,N,KETCHIKAN GATEWAY,Non-MSA,Y,N,N,N,N,N
4,2000,AK0010500,AK0010500,NaN,N,N,NaN,S,KODIAK,KODIAK PD,...,NaN,N,KODIAK ISLAND,Non-MSA,Y,Y,N,Y,N,Y